[user]
    name  = Tom Eloe
    email = tomeloe@gmail.com

[core]
    editor = "nvim"

[github]
    user = teloe

[alias]
    s       = status
    a       = add
    c       = commit
    cm      = commit -m
    p       = push
    br      = branch
    co      = checkout
    cob     = checkout -b
    cl      = clone
    unstage = reset HEAD --
    lg      = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lp      = log --pretty=oneline
    last    = log -1 HEAD

[init]
    defaultBranch = main
